<%- model_class = Project -%>
<h3><dl class="dl-horizontal">
  <dd><%= @project.name %></dd>
</dl></h3>

<div class="form-actions">
  <%= form_tag project_tasks_path(@project), method: :post do %>
      <%= text_field_tag :name %>
      <%= submit_tag 'Create Task', class: 'btn btn-primary' %>
  <% end %>
  <h4>Incomplete Tasks</h4>
  <div id='incomplete_check'>
  <% unless Task.all.blank? %>
      <% Task.all.each do |task| %>
          <%= check_box_tag '', task.id %><%= task.name %><br/>
      <% end %>
  <% end %>
  </div>
  <div id='complete_check'>
  <h4>Complete Tasks</h4>
  </div>
  <%#= link_to t('.back', :default =>ActionController::ParameterMissing Exception: param not found t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
