<%- model_class = Project -%>
<h3><dl class="dl-horizontal">
  <dd><%= @project.name %></dd>
</dl></h3>

<div class="form-actions">
  <%= form_tag project_tasks_path(@project), method: :post do %>
      <%= text_field_tag :name  %>
      <%= submit_tag 'Add Task', class: 'btn btn-primary' %>
  <% end %>
  <h4>Incomplete Tasks</h4>
  <div id='incomplete_check'>
    <% unless Task.where(complete: false).blank? %>
        <% Task.where(complete: false).each do |task| %>
            <%= form_tag project_task_path(@project,task), method: :put do %>
                <%= check_box_tag '', task.id,nil, { onclick: 'this.form.submit();' }  %><%= task.name %><br/>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div id='complete_check'>
    <h4>Complete Tasks</h4>
    <% unless Task.where(complete: true).blank? %>
        <% Task.where(complete: true).each do |task| %>
            <%= task.name %><br/>
        <% end %>
    <% end %>
  </div>
</div>
